body {
	background-color: lightgray;
}

#tabla {
	display: table; 
	margin: auto;
} 

#fila {
	display: table-row;
}

#celda {
	display: table-cell;
}

iframe {

	width:350px;
	height:350px;
	margin:10px;
	background-color: white; 
}