iframe {
	width: 1200px;
	height: 600px;
}

body > div {
	text-align: center;
	margin-top: 10px;
}

div > a {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	border-style: inset;
	background-color: #E5E8E8;
	border-color: #AAB7B8;
	color: black;
}

div > a:hover {
	background-color: #99A3A4;
}

div > a:active {
	color: white;
	border-style: outset;
	background-color: #424949;
}